$b-font-main: "Josefin Sans", sans-serif;
$b-font-detail: "Aleo", serif;

$b-color-main: #5474FD;
$b-color-main-shade: #496BFE;
$b-color-dark:#232323;
$b-color-dark-transp: #232323E6;
$b-color-grey:#333333;
$b-color-hover-light: #e3a68a ;
$b-color-hover: #be6942;
$b-color-hover-shade: #964520;
$b-color-dark-text: #999999;

$b-body-width: 1773px;

$b-breakpointA: 800px;
$b-breakpointB: 650px;
$b-breakpointC: 450px;