@import 'home-about';
@import 'home-skills';

.home__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 800px;
    background-image: url(../assets/redux-of-the-inifite.jpg);
    background-size: cover;
    color: $color-light;
    text-align: center;
    z-index: -1;

    & div {
        background-color: #333333cd;
        padding: 2rem;
    }
    & * {
        color: $color-light;
    }
    & h1 {
        font-family: $font-main;
        font-weight: 600;
        font-size: 4rem;
        padding-bottom: 12px;
    }

    & h3 {
        font-size: 2rem;
    }
}

.home__main {
    background-color: $color-light;
    margin: auto;
    width: 90vw;
    border-radius: 20px;
    box-shadow: #0000001d 0 16px 24px 2px;
    margin-top: -8%;
    text-align: center;
}

