@import 'reset';
@import 'variables';

* {
    font-family: $font-main;
    font-size: 1rem;
    font-weight: 300;
    color: $color-mid;

    h1, h2, h3, h5, h6 { /* h4 is the big <p> */
        font-family: $font-accent;
        color: $color-dark;
        font-weight: 700;
    }
}
@import 'navbar';
@import 'home';